@import 'spacing.scss';
@import 'codeStyles.scss';

$primary: #6500E5;
$link: $primary;
$link-hover:#940DFF;

.nirebu-title {
  font-family: 'capriola', sans-serif;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.has-background-gradient {
  background-image: linear-gradient(to bottom, $link-hover, $primary);
}

.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.section {
  flex: 1;
}

@import "~bulma/bulma.sass";